section(id='profile-menu')
	a(id='show-menu') Show Menu
	a(id='hide-menu') Hide Menu
	img(src='images/profile.png')
	h2 User Name
	ul
		li
			ul
				li 
					button Mail
				li 
					button $
				li 
					button Rank
		li 
			a(href='#') Newsfeed
		li 
			a(href='/mystore') My Store
		li 
			a(href='#') My Selctions
		li 
			a(href='#') Store Settings
		li 
			a(href='#') Statistics
		li 
			select
				option Regulars