div(class='ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable ui-widget-shadow')
	div(class='ui-dialog-titlebar')
		div(class='ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix') UserName Store
		button(class='ui-dialog-titlebar-close')
	div(class='ui-dialog-content ui-widget-content')
		p Words